extends base

block content
  .p-4.p-md-5.mb-4.text-white.rounded.bg-dark
    .col-md-6.px-0
      h1.display-4.fst-italic Title of a longer featured blog post
      p.lead.my-3
        | Multiple lines of text that form the lede, informing new readers quickly and efficiently about what&rsquo;s most interesting in this post&rsquo;s contents.
      p.lead.mb-0
        a.text-white.fw-bold(href='#') Continue reading...
  .row.mb-2

    each post in posts

      - let trimmedString = ''
      - if (post.body) trimmedString = post.body.substring(0, 150) + '...'

      .col-md-6
        .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
          .col.p-4.d-flex.flex-column.position-static
            strong.d-inline-block.mb-2.text-primary World
            h3.mb-0= post.title
            .mb-1.text-muted= post.createdAt.toLocaleString('en-es', { month: 'long', year: 'numeric' })
            p.card-text.mb-auto!= trimmedString
            a.stretched-link(href=`/posts/${post.slug}`) Continue reading
          .col-auto.d-none.d-lg-block
            img.bd-placeholder-img(width='200' height='250' src=`/img/posts/${post.coverImage}` alt=`${post.title}`)
    